
@{
    ViewBag.Title = "Dashboard";
}

<div ng-controller="DashboardCtrl" class="container mt-3" style="max-width:100%;">

    <div class="row">
        <div class="col-6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">Today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Weekly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">Monthly</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content border" style=" box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 70%);">
                <div id="home" class="container tab-pane active text-primary">
                    <div class="row">
                        <div class="col-12">
                            <div id="divToday" style="height:300px"></div>
                        </div>
                    </div>
                </div>
                <div id="menu1" class="container tab-pane fade  text-primary">
                    <div class="row">
                        <div class="col-12">
                            <div id="divWeekly" style="height:300px"></div>
                        </div>
                    </div>
                </div>
                <div id="menu2" class="container tab-pane fade text-primary">
                    <div class="row">
                        <div class="col-12">
                            <div id="divMonthly" style="height:300px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            @*<div class="row">
                    <div class="dashboardDivBoxtest">
                        <div class="innerdb">
                            <div class="icnsec pt-3 text-center">
                                <i class="fas fa-flask fa-3x dashboardIcons"></i>
                                <i style="font-size:100px;" class='bx bxs-user-badge  nav_icon'></i>
                            </div>
                            <div class="txtsec">
                                <a class="menuBarlink" href="@Url.Action("MSDSDashBoard", null, new { area = "ChemicalHandling", controller = "MSDS" }, Request.Url.Scheme)">Chemical Handling</a>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="row mt-5 ">
                <a href="@Url.Action("Index", "VM")">
                    <div class="dashboardDivBoxtest">
                        <div class="innerdb">
                            <div class="text-center">
                                <i style="font-size:65px;" class='bx bxs-user-badge  nav_icon'></i> <span class="notification-badge">@ViewBag.GetTodayVMCount</span><br />
                            </div>
                            <div class="txtsec">
                                <h5>Visitors Management</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a ng-if="IsAccessable('ReadWP')" href="@Url.Action("Index", "WP")">
                    <div ng-if="IsAccessable('ReadWP')" class="dashboardDivBoxtest">
                        <div class="innerdb">
                            <div class="text-center">
                                <i style="font-size:67px;" class='bx bx-id-card  nav_icon'></i><span class="notification-badge">@ViewBag.GetTodayWPCount</span><br />
                            </div>
                            <div class="txtsec">
                                <h5>Work <br /> Permit</h5>
                            </div>
                        </div>
                    </div>
                </a>
                <a ng-if="IsAccessable('ReadRE')" href="@Url.Action("Index", "RemoteEmployee")">
                    <div ng-if="IsAccessable('ReadRE')" class="dashboardDivBoxtest">
                        <div class="innerdb">
                            <div class="text-center">
                                <i style="font-size:67px;" class='bx bx-user-check nav_icon'></i><span class="notification-badge">@ViewBag.GetTodayRECount</span><br />
                            </div>
                            <div class="txtsec">
                                <h5>Remote <br /> Employee</h5>
                            </div>
                        </div>
                    </div>
                </a>
                @*<a ng-if="IsAccessable('ReadSC')" href="@Url.Action("Index", "RemoteEmployee")">
                    <div ng-if="IsAccessable('ReadSC')" class="dashboardDivBoxtest">
                        <div class="innerdb">
                            <div class="text-center">
                                <i style="font-size:67px;" class='bx bx-user-check nav_icon'></i><br />
                            </div>
                            <div class="txtsec">
                                <h5>Security Check</h5>
                            </div>
                        </div>
                    </div>
                </a>*@
            </div>

            @*<div class="row mt-5">
                    <div class="col-6 text-right">

                    </div>
                    <div class="col-6">
                        <a ng-if="IsAccessable('ReadWP')" href="@Url.Action("Index", "WP")"> <img height="140" src="~/Content/Images/WP.jpg" /></a>
                    </div>
                </div>*@
        </div>
    </div>

    <!-- Nav tabs -->

</div>

<style>
    .notification-badge {
        position: absolute;
        top: 5px;
        right: 20px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 12px;
    }
</style>