
@{
    Layout = "";
    ViewBag.Title = "AppointmentApproval";
}
<link rel="stylesheet" href="~/Content/bootstrap.css" />
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.RenderFormat(DB.SiteKeys.ScriptVersion, "~/bundles/angularjs")
<style>
    .header {
        width: 100%;
        height: 3rem;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        background-color: #002454;
        z-index: 100;
        transition: .5s;
        color: #ffffff;
        ;
    }

    .header_toggle {
        color: #ffffff;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .header_img {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
    }

        .header_img img {
            width: 40px;
        }
</style>
<script src="~/Scripts/ng-table-to-csv.min.js"></script>
<script src="~/Scripts/angucomplete-alt.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js" integrity="sha512-f2q5tYQJ0pnslHkuVw7tm7GP7E0BF1YLckJjgLU5z4p1vNz78Jv+nPIEKtZerevbt/HwEfYnRrAo9U3u4m0UHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    <div style="width: 100%;">
        <img src="~/Content/Images/logo.png">
    </div>
</header>
<div class="text-center" style="padding-top:2rem;">
    <h3 style="color:#002454"> Husqvarna (India) Products Private Limited</h3>
</div>
<div ng-app="visitorsManagement" ng-controller="ctrlAppointmentApproval" class="container">
    <div class="overlay">
        <div id="loading-img"></div>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'progressBar': 'true' , 'close-button': true, 'body-output-type': 'trustedHtml', 'showDuration': '400', 'hideDuration': '200',}"></toaster-container>

    <div class="row w-100" style="font-size: 18px;">
        <div class="col-1"></div>
        <div class="col-11 mb-3">
            <h3 style="color: var(--first-color);"> Appointment Approval </h3>
            <input type="hidden" id="appointmentId" value="@ViewBag.AppointmentId" />
            <hr />
        </div>
        <div class="col-1"></div>
        <div class="col-3 mt-1">Appointment Date :</div>
        <div class="col-8"> {{ visitorModel.Date }} </div>
        <div class="col-1"></div>
        <div class="col-3 mt-1">Visitor's Name :</div>
        <div class="col-8"> {{ visitorModel.VisitorName }} </div>
        <div class="col-1"></div>
        <div class="col-3 mt-1">Mobile No. :</div>
        <div class="col-8"> {{ visitorModel.VisitorPhoneNumber }} </div>
        <div class="col-1"></div>
        <div class="col-3 mt-1">Email Id :</div>
        <div class="col-8"> {{ visitorModel.VisitorsEmails }} </div>
        <div class="col-1"></div>
        <div class="col-3 mt-1">Representing Company :</div>
        <div class="col-8"> {{ visitorModel.RepresentingCompany }} </div>

        <div class="col-1"></div>
        <div class="col-11 mb-2">
            <hr />
            <button type="button" ng-if="visitorModel.Status == StatusMedia.Waitingforapproval" class="btn btn-success" ng-click="approveAppointment()">Approve</button>
            <button type="button" ng-if="visitorModel.Status == StatusMedia.Waitingforapproval || StatusMedia.Open == visitorModel.Status" class="btn btn-danger" ng-click="rejectAppointment()">Reject</button>
            @*<button *ngIf="!currentStatus" class="mr-1" type="submit" (click)="approveAppointment()" mat-raised-button
                        color="primary">
                    Approve
                </button>
                <button *ngIf="showRejectButton" type="button" (click)="rejectAppointment()" mat-raised-button color="warn">Reject</button>*@
        </div>
    </div>
</div>
